USE [SIIR-ProdV1]
GO
CREATE SCHEMA INSC;
GO
/****** Object:  Table [INSC].[TM00_ParametrosGenerales]    Script Date: 9/23/2025 4:41:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [INSC].[TM00_ParametrosGenerales](
	[TM00_Id] [int] IDENTITY(1,1) NOT NULL,
	[TM00_Descripcion] [varchar](50) NULL,
	[TM00_Valor] [nvarchar](50) NULL,
 CONSTRAINT [PK_TM00_ParametrosGenerales] PRIMARY KEY CLUSTERED 
(
	[TM00_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [INSC].[TM01_Estado]    Script Date: 9/23/2025 4:41:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [INSC].[TM01_Estado](
	[TM01_Codigo] [int] IDENTITY(0,1) NOT NULL,
	[TM01_TM01_Codigo] [int] NULL,
	[TM01_Nombre] [nvarchar](200) NULL,
	[TM01_TM02_Codigo] [int] NULL,
 CONSTRAINT [PK_TM01_Codigo] PRIMARY KEY CLUSTERED 
(
	[TM01_Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [INSC].[TM01_SECTORFINANCIERO]    Script Date: 9/23/2025 4:41:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [INSC].[TM01_SECTORFINANCIERO](
	[TM01_CODIGO] [int] NOT NULL,
	[TM01_NOMBRE] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TM01_SECTORFINANCIERO] PRIMARY KEY NONCLUSTERED 
(
	[TM01_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [INSC].[TM02_Area]    Script Date: 9/23/2025 4:41:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [INSC].[TM02_Area](
	[TM02_Codigo] [int] NOT NULL,
	[TM02_Nombre] [nvarchar](200) NULL,
 CONSTRAINT [PK_TM02_Area] PRIMARY KEY CLUSTERED 
(
	[TM02_Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [INSC].[TM03_Usuario]    Script Date: 9/23/2025 4:41:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [INSC].[TM03_Usuario](
	[TM03_Usuario] [nvarchar](100) NOT NULL,
	[TM03_TM02_Codigo] [int] NULL,
	[TM03_Nombre] [nvarchar](500) NULL,
	[TM03_Correo] [nvarchar](100) NULL,
 CONSTRAINT [PK_TM03_Usuario] PRIMARY KEY CLUSTERED 
(
	[TM03_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [INSC].[TM07_Relacion_Estados]    Script Date: 9/23/2025 4:41:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [INSC].[TM07_Relacion_Estados](
	[TM07_TM01_Codigo] [int] NULL,
	[TM07_TM01_Codigo_Padre] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [INSC].[TM08_ConsecutivoEnt]    Script Date: 9/23/2025 4:41:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [INSC].[TM08_ConsecutivoEnt](
	[TM08_Consecutivo] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [INSC].[TN04_Entidad]    Script Date: 9/23/2025 4:41:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [INSC].[TN04_Entidad](
	[TN04_Tipo] [int] NOT NULL,
	[TN04_Codigo] [int] NOT NULL,
	[TN04_TM01_Codigo] [int] NULL,
	[TN04_Nombre] [nvarchar](800) NULL,
	[TN04_Nit] [nvarchar](15) NULL,
	[TN04_Identificacion_Rep] [bigint] NULL,
	[TN04_TipoDoc] [char](10) NULL,
	[TN04_Nombre_Rep] [nvarchar](100) NULL,
	[TN04_Apellido_Rep] [varchar](100) NULL,
	[TN04_Cargo] [nvarchar](100) NULL,
	[TN04_Correo] [nvarchar](100) NULL,
	[TN04_Telefono] [nvarchar](50) NULL,
	[TN04_Fecha] [datetime] NULL,
	[TN04_CartaSolicitud] [varchar](500) NULL,
	[TN04_CertificadoSuper] [varchar](500) NULL,
	[TN04_CartaCalidad] [varchar](500) NULL,
	[TN04_NombreResponsable] [varchar](50) NULL,
	[TN04_CorreoResponsable] [varchar](150) NULL,
	[TN04_Usuario] [varchar](20) NULL,
	[TN04_Password] [varchar](10) NULL,
	[TN04_RutaCartaAceptacion] [varchar](500) NULL,
	[TN04_FechaCartaAceptacion] [datetime] NULL,
	[TN04_FechaLimitePago] [datetime] NULL,
	[TN04_FechaConstitucion] [datetime] NULL,
	[TN04_CapitalSuscrito] [bigint] NULL,
	[TN04_Ciudad] [nvarchar](100) NULL,
	[TN04_RutaCorreoAprobacion] [varchar](500) NULL,
	[TN04_RutaComprobantePago] [varchar](500) NULL,
 CONSTRAINT [PK_TN04_Entidad] PRIMARY KEY CLUSTERED 
(
	[TN04_Tipo] ASC,
	[TN04_Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [INSC].[TN05_Historico_Estado]    Script Date: 9/23/2025 4:41:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [INSC].[TN05_Historico_Estado](
	[TN05_Id] [int] IDENTITY(0,1) NOT NULL,
	[TN05_TN04_Tipo] [int] NULL,
	[TN05_TN04_Codigo] [int] NULL,
	[TN05_TM01_EstadoAnterior] [int] NULL,
	[TN05_TM01_EstadoActual] [int] NULL,
	[TN05_Fecha] [datetime] NULL,
	[TN05_TN03_Usuario] [nvarchar](100) NULL,
	[TN05_Observaciones] [nvarchar](1000) NULL,
 CONSTRAINT [PK_TN05_Historico_Estado] PRIMARY KEY CLUSTERED 
(
	[TN05_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TN05_Historico_Estado_TN05_Id] UNIQUE NONCLUSTERED 
(
	[TN05_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [INSC].[TN06_Pagos]    Script Date: 9/23/2025 4:41:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [INSC].[TN06_Pagos](
	[TN06_Id] [int] IDENTITY(0,1) NOT NULL,
	[TN06_TN04_Tipo] [int] NULL,
	[TN06_TN04_Codigo] [int] NULL,
	[TN06_Fecha] [datetime] NULL,
	[TN06_Valor] [bigint] NULL,
	[TN06_Comprobante] [nvarchar](100) NULL,
 CONSTRAINT [PK_TN06_Pagos] PRIMARY KEY CLUSTERED 
(
	[TN06_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TN06_Pagos_TN06_Id] UNIQUE NONCLUSTERED 
(
	[TN06_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [INSC].[TN07_Adjuntos]    Script Date: 9/23/2025 4:41:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [INSC].[TN07_Adjuntos](
	[TN07_Id] [int] IDENTITY(1,1) NOT NULL,
	[TN07_TN04_Codigo] [int] NULL,
	[TN07_Archivo] [nvarchar](4000) NULL,
	[TN07_Fecha] [date] NULL,
 CONSTRAINT [PK_TN07_Adjuntos] PRIMARY KEY CLUSTERED 
(
	[TN07_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [INSC].[TM01_Estado]  WITH CHECK ADD  CONSTRAINT [FK_TM01_Estado_TM01_Estado] FOREIGN KEY([TM01_TM01_Codigo])
REFERENCES [INSC].[TM01_Estado] ([TM01_Codigo])
GO
ALTER TABLE [INSC].[TM01_Estado] CHECK CONSTRAINT [FK_TM01_Estado_TM01_Estado]
GO
ALTER TABLE [INSC].[TM01_Estado]  WITH CHECK ADD  CONSTRAINT [FK_TM01_Estado_TM02_Area] FOREIGN KEY([TM01_TM02_Codigo])
REFERENCES [INSC].[TM02_Area] ([TM02_Codigo])
GO
ALTER TABLE [INSC].[TM01_Estado] CHECK CONSTRAINT [FK_TM01_Estado_TM02_Area]
GO
ALTER TABLE [INSC].[TN04_Entidad]  WITH CHECK ADD  CONSTRAINT [FK_TN04_Entidad_TM01_Estado] FOREIGN KEY([TN04_TM01_Codigo])
REFERENCES [INSC].[TM01_Estado] ([TM01_Codigo])
GO
ALTER TABLE [INSC].[TN04_Entidad] CHECK CONSTRAINT [FK_TN04_Entidad_TM01_Estado]
GO
ALTER TABLE [INSC].[TN05_Historico_Estado]  WITH CHECK ADD  CONSTRAINT [FK_TN05_Historico_Estado_TM01_Estado] FOREIGN KEY([TN05_TM01_EstadoActual])
REFERENCES [INSC].[TM01_Estado] ([TM01_Codigo])
GO
ALTER TABLE [INSC].[TN05_Historico_Estado] CHECK CONSTRAINT [FK_TN05_Historico_Estado_TM01_Estado]
GO
ALTER TABLE [INSC].[TN05_Historico_Estado]  WITH CHECK ADD  CONSTRAINT [FK_TN05_Historico_Estado_TM03_Usuario] FOREIGN KEY([TN05_TN03_Usuario])
REFERENCES [INSC].[TM03_Usuario] ([TM03_Usuario])
GO
ALTER TABLE [INSC].[TN05_Historico_Estado] CHECK CONSTRAINT [FK_TN05_Historico_Estado_TM03_Usuario]
GO
