# Variables de entorno con secretos
.env
config.local.js

# Archivos de configuración con claves
**/config.prod.js
**/keys.js

# Logs
*.log
npm-debug.log*

# Dependencias
node_modules/

# Archivos temporales
.tmp/
temp/